*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* share-contant */
.open-sans{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}
.btn{
  background-color: #FD6E0A;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  padding: 18px 36px;
  cursor: pointer;
}

/* Main-contant */
header{
  background-color: #FFF8F3;
  background: url(../images/developer.png), url(../images/header_bg.png), #FFF8F3;
  background-repeat: no-repeat;
  background-position: bottom left, bottom right;
  padding-top: 51px;
}
nav{
  width: 71%;
  max-width: 1190px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  
}
nav .menu{
  display: flex;
  list-style: none;
  font-size: 20px;
  gap: 51px;
  align-items: center;
}
nav .menu a{
  text-decoration: none;
  color: #474747;
}
nav .logo h2{
  font-size: 35px;
  font-weight: 800px;
}
nav .orange{
  color: #FD6E0A;
}
#bannar{
display: flex;
max-width: 1332px;
margin: 46px 38px 0 230px;
/* border: 2px solid red; */
justify-content: space-between;
align-items: center;
}
#bannar .bannar-content{
  max-width: 585px;
}
#bannar .bannar-content h2{
  font-size: 45px;
  font-weight: 600px;
  margin-bottom: 5px;
}
#bannar .bannar-content h1{
  font-size: 85px;
  font-weight: bold;
  margin-bottom: 20px;
}
#bannar .bannar-content p{
  font-size: 18px;
  line-height: 30px;
  color: #757575;
  margin-bottom: 30px;
}
#bannar .bannar-content img{
  max-width: 584px;
  background-color: #FD6E0A;
  vertical-align: middle;
}
#about{
  padding-top: 130px;
}
#about .about-contant{
  width: 71%;
  max-width: 1140px;
  /* border: 2px solid red; */
  margin: 0 auto;
  padding: 131px 156px;
  text-align: center;
}
#about .about-contant h2{
  font-size: 35px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 30px;
}
#about .about-contant .section-heading p{
  font-size: 18px;
  line-height: 30px;
  color: #757575;
  margin-bottom: 30px;
}
#about .about-info{
  display: flex;
  justify-content: space-between;
}
#about .about-info p{
  font-size: 20px;
  line-height: 30px;
  color: #757575;
}
#about .about-info h4{
  font-size: 20px;
  line-height: 30px;
  color: #474747;
}
#do{
  padding-top: 130px;
}
#do .do-content .dcc{
  width: 71%;
  max-width: 827px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
#do .do-content h2{
  font-size: 35px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 30px;
}
#do .do-content p{
  font-size: 18px;
  line-height: 30px;
  color: #757575;
}
#do .skill-card{
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#do .cards{
  max-width: 267px;
}
 
#skills .cards-container{
  width: 71%;
  max-width: 1140px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 160px;
}
#skills .cards-container .cards img{
  padding: 30px;
}
#skills .cards-container .cards h3{
  font-size: 20px;
  font-weight: bold;
  color: #181818;
  padding-bottom: 20px;
  padding-left: 30px;
}
#skills .cards-container .cards p{
  max-width: 201px;
  /* max-height: 196px; */
  font-size: 16px;
  line-height: 28px;
  color: #757575;
  padding-left: 30px;
} 
.resume-heading h2{
  font-size: 35px;
  font-weight: bold;
  color: #181818;
  text-align: center;
  margin-bottom: 113px;
}
.boss-container{
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

}
.resume-container{
  margin-bottom: 24px;
  /* border: 2px solid red; */
  max-width: 511px;
  /* margin-bottom: 20px; */
  padding: 24px;
}
.card-heading h2{
  font-size: 30px;
  font-weight: bold;
  color: #474747;
  margin-bottom:30px;
}
.card-info h3{
  font-size: 25px;
  font-weight: bold;
  color: #474747;
  margin-bottom: 10px;
}
.card-info .details{
 font-size: 20px;
 font-weight: 600px;
 color: #757575;
 margin-bottom: 20px;
}
.card-content{
  font-size: 16px;
  line-height: 28px;
  color: #757575;
  max-width: 511px;
}
.card-heading hr{
margin: 30px 0;
}
.button-content{
  text-align: center;
  margin-bottom: 105px;
}
#myself{
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
}
.about-myself{
  display: flex;
  justify-content: space-between;
  padding-top: 138px;
  gap: 117px;
}
.myself-content h2{
  font-size: 35px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px;
}
.myself-content p{
  font-size: 16px;
  line-height: 28px;
  color: #474747;
  margin-bottom: 30px;
}
.myself-form h2{
  font-size: 35px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px;
}
.myself-form input{
  border: none;
  display: block;
  color: #757575;
  background-color: white;
  font-size: 16px;
  padding: 20px;
  margin-bottom: 20px;
}
.myself-form textarea{
  border: none;
  margin-bottom:24px;
  padding: 20px;
}
.myself-form button{
margin-bottom: 117px;
}